/* ------------------------------------------------------- */
/* ----------------- CSS BANNER ABOUT US ----------------- */
/* ------------------------------------------------------- */

/* Mise en place de la banniere */
.bannerAbout{
    margin: 0 auto;
    width: 1200px;
    height: 500px;  
    background-image: url(../images/map-mirage.png);
}
.bannerAbout img{
    width: 100%;  
    margin-top: -30px;
}
/* Mise en place de la banniere Filtre*/
.bannerAboutFilter{
    margin: 0 auto;
    width: 1200px;
    height: 500px;  
    display: table;
    background-color: rgba(11, 16, 19, 0.555);
}
.bannerAboutFilter h1{
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.bannerAboutFilter span{
    font-size: 20px;
}

/* ------------------------------------------------------- */
/* --------------------- CSS ABOUT US -------------------- */
/* ------------------------------------------------------- */

.about{
    width: 60%;
    margin: 0 auto;
}
.about h2{
    color: white;
    padding: 50px 0;
}
.about p{
    color: rgba(180, 199, 201, 0.479);
    font-size: 16px;
    text-align: justify;
    padding-bottom: 10px;
}