/* ------------------------------------------------------- */
/* ------------------------ CSS CGU ---------------------- */
/* ------------------------------------------------------- */

.cgu{
    padding-top: 50px;
    width: 60%;
    margin: 0 auto;
}
.cgu h1{
    color: white;
    padding: 50px 0;    
}
.cgu h2{
    color: white;
    padding: 50px 0;
}
.cgu p{
    color: rgba(180, 199, 201, 0.479);
    font-size: 16px;
    text-align: justify;
    padding-bottom: 10px;
}