/* ------------------------------------------------------- */
/* ------------------ CSS BANNER CONTACT ----------------- */
/* ------------------------------------------------------- */

/* Mise en place de la banniere */
.bannerContact{
    margin: 0 auto;
    width: 1200px;
    height: 500px;  
    background-image: url(../images/map-museum.png);
}
.bannerContact img{
    width: 100%;  
    margin-top: -30px;
}
/* Mise en place de la banniere Filtre*/
.bannerContactFilter{
    margin: 0 auto;
    width: 1200px;
    height: 500px;  
    display: table;
    background-color: rgba(11, 16, 19, 0.555);
}
.bannerContactFilter p{
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.bannerContactFilter span{
    font-size: 20px;
}

/* ------------------------------------------------------- */
/* --------------------- CSS CONTACT --------------------- */
/* ------------------------------------------------------- */

#contact{
    padding-top: 50px;
}
.contactInput ::placeholder, .contactTextarea ::placeholder{
    font-family: 'roboto';
    text-align: center;
    color: white;
    font-size: 16px;
}
.contactInput, .contactTextarea, .contactButton{
    width: 100%;
    text-align: center; 
}
.contactInput input{
    width: 50%;
    margin: 10px 0;
    padding: 10px 0;
    background-color: #0B1013;
    text-align: center;
    border: none;
    border-bottom: white solid 1px;
    color: white;
    font-family: 'roboto';
    font-size: 16px;
}
.contactTextarea textarea{
    resize: none;
    width: 50%;
    height: 300px;
    margin: 10px 0;
    padding: 10px 0;
    border: white solid 1px;
    background-color: #0B1013;
    color: white;
    font-family: 'roboto';
    font-size: 16px;
}
.contactButton input{
    width: 50%;
    margin: 10px 0;
    padding: 10px 0;
    background-color: #79AD09;
    border: white solid 1px;
    color: white;
    font-family: 'roboto';
    font-size: 16px;
}
.contactButton input:hover{
    background-color: #0B1013;
}