/* ------------------------------------------------------- */
/* ---------------------- CSS HEADER --------------------- */
/* ------------------------------------------------------- */

/* Mise en place structure + couleur de fond de la barre de menu */
.topBackground{
    background-color: #22282D;
    width: 100%;
    margin-top: 30px;
}
.topContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
  
/*Mise en place du logo au centre */
.topContainer img{
    width: 115px;
    height: 125px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
  
/* Mise en forme du menu */
.mainMenu{
    padding: 25px 0;
}
.topMenu a{
    color: white;
    font-weight: 700;
    font-size: 18px;
}
.topMenu a:hover{
    color: #79ad09;
}
.topMenu ul{
    word-spacing: 25px;
}
.topMenu ul li{
    color: white;
    display: inline;
}
/* Menu Burger */
.mainMenu #menuMobile,
.mainMenu .menuMobile {
    display: none
}
  
/* Mise en forme du lien de Login */
.login a{
    color: white;
    font-weight: 700;
    font-size: 18px;
}
.login a:hover{
    color: #79ad09;
}