/* ------------------------------------------------------- */
/* ---------------------- CSS HEADER --------------------- */
/* ------------------------------------------------------- */

/* Mise en place structure + couleur de fond de la barre de menu */
.topBackground{
    background-color: #22282D;
    width: 100%;
    margin-top: 30px;
}
.topContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 70px;
    margin: 0 auto;
    position: relative;
}
  
/*Mise en place du logo au centre */
.topContainer img{
    width: 115px;
    height: 125px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
  
/* Mise en forme du menu */
.topMenu a{
    color: white;
    font-weight: 700;
    font-size: 18px;
}
.topMenu a:hover{
    color: #79ad09;
}
.topMenu ul{
    word-spacing: 25px;
}
.topMenu ul li{
    color: white;
    display: inline;
}
  
/* Mise en forme de la barre de recherche */
.research{
    display: flex;
    align-items: center;
    background-color: #0B1013;
    height: 35px;
    width: 300px;
    padding-left: 20px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}
.research input{
    width: 265px;
    background: none;
    border: none;
    color: white;
}
.research button{
    width: 35px;
    height: 35px;
    background: none;
    border-radius: 50%;
    border:  none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.research i{
    color: white;
    font-size: 16px;
}
  
/* Mise en place de la banniere */
.banner{
    margin: 0 auto;
    width: 1200px;
    height: 500px;  
    overflow: hidden;
}
.bannerSize{
    width: 100%;  
    margin-top: -30px;
}
.bannerSize img{
    width: 100%;
} 