/* ------------------------------------------------------- */
/* ------------------- CSS INSCRIPTION ------------------- */
/* ------------------------------------------------------- */

#inscription{
    padding-top: 50px;
}
.inscriptionInput ::placeholder{
    font-family: 'roboto';
    text-align: center;
    color: white;
    font-size: 16px;
}
.inscriptionInput, .inscriptionButton{
    width: 100%;
    text-align: center; 
}
.inscriptionInput input{
    width: 60%;
    margin: 10px 0;
    padding: 10px 0;
    background-color: #0B1013;
    text-align: center;
    border: none;
    border-bottom: white solid 1px;
    color: white;
    font-family: 'roboto';
    font-size: 16px;
}
.inscriptionButton input{
    width: 60%;
    margin: 10px 0;
    padding: 10px 0;
    background-color: #79AD09;
    border: white solid 1px;
    color: white;
    font-family: 'roboto';
    font-size: 16px;
    cursor: pointer;
}
.inscriptionButton input:hover{
    background-color: #0B1013;
    cursor: pointer;
}