/* ------------------------------------------------------- */
/* ------------------- CSS MEDIAQUERIES ------------------ */
/* ------------------------------------------------------- */

@media screen and (max-width:576px) {
    .content{
        width: 100%;
    }
    /* Mise en place du Menu Burger */
    .topContainer{
        width: 100%;
        flex-wrap: wrap;
    }
    .login {
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }
    .mainMenu {
        width: 100%;
        min-height: 150px;
        padding: 0;
        text-align: center;
    }
    .topMenu ul li {
        display: block;
        line-height: 20px;
        font-size: 1.2rem;
        padding: 0;
    }
    .topMenu ul {
        display: none;
        padding-top: 150px;
    }
    .topMenu .menuMobile img {
        padding-top: 140px;
        width: 40px;
        height: 40px;
    }
    .topMenu .menuMobile {
        display: block;
    }
    .topMenu #menuMobile:not(:checked),
    #menuMobile:checked {
        position: absolute;
        left: -9999px;
    }
    .topMenu [type="checkbox"]:checked+label+ul {
        display: block;
    }
    
    /* Supression de la banner */
    .bannerHome, .bannerNews, .bannerTeam, .bannerAbout, .bannerContact{
        display: none;
    }

    /* Mise en place des News */
    #news{
        flex-wrap: wrap;
        width: 100%;
    }
    .newsBloc{
        width: 100%;
        padding: 0 10px 10px 10px;
    }
    /* Mise en place de Contact */
    .contactInput input, .contactTextarea textarea, .contactButton input{
        width: 90%;
    }
    /* Mise en place de Team */
    .teamBloc{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
    }
    /* Mise en place du Footer */
    /* ---- Footer Top ---- */
    .botContainerUp{
        width: 100%;
        flex-direction: column;
    }
    .botContainerUp a {
        padding: 10px 0;
    }
    /* ---- Footer Down ---- */
    .botContainerDown {
        width: 100%;
    }
    .botContainerDown span {
        display: none;
    }
    .botContainerDown a {
        padding: 0 10px;
    } 
}