/* ------------------------------------------------------- */
/* -------------------- CSS newArticle ------------------- */
/* ------------------------------------------------------- */

#newArticle{
    padding-top: 50px;
}
#newArticle h1{
    text-align: center;
    color: white;
}
.newArticleInput ::placeholder, .newArticleTextarea ::placeholder{
    font-family: 'roboto';
    text-align: center;
    color: white;
    font-size: 16px;
}
.newArticleInput, .newArticleTextarea, .newArticleButton{
    width: 100%;
    text-align: center; 
}
.newArticleInput input{
    width: 60%;
    margin: 10px 0;
    padding: 10px 0;
    background-color: #0B1013;
    text-align: center;
    border: none;
    border-bottom: white solid 1px;
    color: white;
    font-family: 'roboto';
    font-size: 16px;
}
.newArticleTextarea textarea{
    resize: none;
    width: 60%;
    height: 300px;
    margin: 10px 0;
    padding: 10px 0;
    border: white solid 1px;
    background-color: #0B1013;
    color: white;
    font-family: 'roboto';
    font-size: 16px;
}
.newArticleButton input{
    width: 60%;
    margin: 10px 0;
    padding: 10px 0;
    background-color: #79AD09;
    border: white solid 1px;
    color: white;
    font-family: 'roboto';
    font-size: 16px;
}
.newArticleButton input:hover{
    background-color: #0B1013;
}