/* ------------------------------------------------------- */
/* ------------------- CSS BANNER NEWS ------------------- */
/* ------------------------------------------------------- */

/* Mise en place de la banniere */
.bannerNews{
    margin: 0 auto;
    width: 1200px;
    height: 500px;  
    background-image: url(../images/map-cache.png);
}
/* Mise en place de la banniere Filtre*/
.bannerNewsFilter{
    margin: 0 auto;
    width: 1200px;
    height: 500px;  
    display: table;
    background-color: rgba(11, 16, 19, 0.555);
}
.bannerNewsFilter h1{
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.bannerNewsFilter span{
    font-size: 20px;
}

/* ------------------------------------------------------- */
/* ---------------------- CSS NEWS ----------------------- */
/* ------------------------------------------------------- */

.article{
    width: 60%;
    margin: 0 auto;
}
.articleContent{
    padding: 50px 0;
    border-top: 1px solid #9da9b4;
}
.articleContent:first-child{
    border: none;
}
.articleContent:last-child{
    padding-bottom: 0;
}
.article h2{
    color: white;
    text-align: center;
    padding-top: 15px;
}
.article h2 a{
    color: white;
}
.article h2 a:hover{
    color: #79ad09;
}
.articleImage{
    width: 100%;
}
.articleImage img{
    width: 100%;
}
.articleInnerContent{
    width: 100%;
}