/* ------------------------------------------------------- */
/* ------------------- CSS BANNER TEAM ------------------- */
/* ------------------------------------------------------- */

/* Mise en place de la banniere */
.bannerTeam{
    margin: 0 auto;
    width: 1200px;
    height: 500px;  
    background-image: url(../images/map-dust2.png);
}
.bannerTeam img{
    width: 100%;  
    margin-top: -30px;
}
/* Mise en place de la banniere Filtre*/
.bannerTeamFilter{
    margin: 0 auto;
    width: 1200px;
    height: 500px;  
    display: table;
    background-color: rgba(11, 16, 19, 0.555);
}
.bannerTeamFilter p{
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.bannerTeamFilter span{
    font-size: 20px;
}

/* ------------------------------------------------------- */
/* ---------------------- CSS TEAM ----------------------- */
/* ------------------------------------------------------- */
